<header class="zing-tag">
  <div class="zing-menu">
    <%= link_to "Zing", '/pages/home' %>

      <ul id="nav">
        <li><%= link_to "Home", '/pages/home' %></li>
        <li><%= link_to "Help", '/pages/help' %></li>
        <% if signed_in? %>
            <li><%= link_to "Post", posts_new_path(current_user) %></li>
            <li><%= link_to "Users", '/users/index(current_user)' %></li>
            <li>

              <a href="#"> Account </a>
              <ul>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path %></li>
                <li> <%= link_to "Sign out", sign_out_path %></li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to "Sign in", sign_in_path %></li>
        <% end %>
      </ul>

  </div>

</header>

